/* General */

body {
  font-family: Inter, sans-serif;
  background-color: #ffffff;
  color: #2e363e;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header Styles */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 3px solid #275f7a;
}

.header-nav {
  display: flex;
}

.header-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #275f7a;
}

.header-list {
  display: flex;
  /* gap: 40px; */
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  display: block;
  padding-top: 41px;
  padding-bottom: 41px;
  color: #2e363e;
}

.header-link:hover,
.header-link:focus {
  color: #275f7a;
}

.header-address {
}

.header-address-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.52;
  text-align: right;
  color: #275f7a;
}

/* HERO STYLE */

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
}
.hero-container {
  display: flex;
  align-items: center;
}
.hero-title {
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #2e363e;
  margin-bottom: 25px;
}
.hero-text {
  font-size: 21px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #434b53;
  margin-bottom: 25px;
  max-width: 434px;
}
.hero-btn {
  font-weight: 600;
  font-size: 21px;
  line-height: 143%;
  letter-spacing: -0.01em;
  color: #fff;
  border-radius: 5px;
  min-width: 337px;
  height: 70px;
  background-color: #275f7a;
  border: none;
}

.hero-img {
}

.benefits {
  background-color: #275f7a;
  padding-bottom: 100px;
  padding-top: 100px;
}
.benefits-title {
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}
.benefits-list {
  display: flex;
  gap: 53px;
}
.benefits-item {
  width: calc((100% - 106px) / 3);
}
.benefits-img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 11px;
}
.benefits-item-title {
  font-size: 22px;
  line-height: 1.43;
  text-align: center;
  color: #fff;
  margin-bottom: 4px;
}
.benefits-item-tex {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.order-section {
  padding: 100px 0;
}

.order-title {
  width: 707px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  color: #2e363e;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
}
.order-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2e363e;
  margin-bottom: 50px;
}
.order-form {
}
.order-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.order-label {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.3;
  color: #7e868e;
}
.order-input {
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 5px;
  padding-left: 30px;
  width: 280px;
  height: 70px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms ease-in-out;
}

.order-input:focus {
  border-color: #022c40;
}

.order-input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  color: #bfbfbf;
}

.order-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  min-width: 280px;
  height: 70px;
  background-color: #275f7a;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #e3f2f9;
  color: #022c40;
}

.checkbox-container {
}
.order-span {
}
.order-icon {
}
.order-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #275f7a;
}

/* Modal styles */

.backdrop {
  background: rgba(0, 0, 0, 0.56);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.modal {
  width: 650px;
  min-height: 854px;
  background: #fff;
  padding: 76px 67px 75px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #275f7a;
  color: #ffffff;
}
.modal-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #000;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 19px;
}

.modal-subtitle::before {
  content: "";
  background-color: #d8d8d8;
  width: 143px;
  height: 2px;
  display: block;
}
.modal-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.255;
  letter-spacing: 0.03em;
  color: #022c40;
  margin-bottom: 31px;
}
.modal-title-part {
  color: #000;
}
.modal-text {
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #022c40;
  margin-bottom: 23px;
}
.modal-form {
}
.form-input-label {
  display: block;
  margin-bottom: 23px;
}
.form-input {
  width: 100%;
  height: 60px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding-left: 21px;
  outline: transparent;
  transition: border-color 250ms ease-in-out;
}
.form-input:focus {
  border-color: #275f7a;
}

.form-input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #000;
}
.form-textarea-label {
  display: block;
  margin-bottom: 33px;
}
.form-textarea-box {
  width: 100%;
  height: 149px;
  resize: none;
  overflow: auto;
  border: 1px solid #cacaca;
  border-radius: 5px;
  outline: transparent;
  transition: border-color 250ms ease-in-out;
  padding: 22px 21px;
}

.form-textarea-box::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #000;
}
.form-textarea-box:focus {
  border-color: #275f7a;
}
.submit-btn {
  border-radius: 5px;
  min-width: 181px;
  height: 48px;
  background: #022c40;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    font-weight 250ms ease-in-out, font-size 250ms ease-in-out,
    line-height 250ms ease-in-out, letter-spacing 250ms ease-in-out;
}

.submit-btn:hover,
.submit-btn:focus {
  background: #e3f2f9;
  color: #022c40;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.01em;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
